@font-face {
    font-family: 'digital-7';
    font-weight: normal;
    font-style: normal;
    src:url("../fonts/digital-7.ttf") format('truetype');
}

* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383838;
}

#case {
    display: flex;
    background-image: url("../images/case.png");
    width: 700px;
    height: 780px;
    align-items: center;
}

#game-canvas {
    background-image: url("../images/full_screen.png");
    margin-left: 87px;
}

#info-screen {
    display: flex;
    width: 216px;
    height: 600px;
    border: 2px solid #000003;
    margin-left: 2px;
    align-items: center;
    justify-content: center;
}

#info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid #000003;
    padding: 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

#info-container h1 {
    font-family: 'digital-7';
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

#next-shape-canvas {
    background-image: url("../images/full_next_shape.png");
    margin-bottom: 50px;
}